body {
   font-family: Arial;
   background-color: rgb(182, 238, 219);
   text-align: center;
}
.quiz {
   background-color: white;
   width: 600px;
   margin: 100px auto;
   padding: 30px;
   border-radius: 10px;
}
.answers {
   display: grid;
   gap: 10px;
}
button {
   padding: 15px;
   font-size: 16px;
}